{% extends 'scheme/layout.html' %}
{% load static %}

{% block title %}
    бд
{% endblock %}

{% block therm %}
    <table border="1" width="100%">
        <tr><th>id элемента</th><th>термин</th><th>кнопки</th><th>определение</th></tr>
    {% for answer in answers %}
        <tr>
            <td>{{ answer.id }}</td>
            <td>{{ answer.title }}</td>
            <td>
                <a href="{% url 'news-update' answer.id %}">
                    <button>обновить</button>
                </a>
                <a href="{% url 'news-list' answer.title %}">
                    <button>просмтреть</button>
                </a>
            </td>
            <td>{{ answer.body }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block connection %}
{% endblock %}